*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/dist/
/captures/
.externalNativeBuild/
.cxx/
local.properties
keystore.properties
*.jks
*.keystore
.kotlin/
/app/release/
*.apk
*.aab
.vscode/
*.db-wal
*.db-shm
Thumbs.db

